<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th rowspan="2">Element</th>
      {% for col in column_names %}
      <th colspan="2">{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      {% for col in column_names %}
      <th>Bits In</th>
      <th>Bits Out</th>
      {% endfor %}
    </tr>
    {% for index, row in zip(elements_name, row_data) %}
    <tr>
      <td width="100%" scope="row">
        {{ index }}
      </td>
      {% for row_ in row %}
      <td>{{ row_ }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
