html {
  scroll-behavior: smooth;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #0b0c0e;
  color: #999c9f;
  font-size: 0.9rem;
}

nav {background-color: #141619}

.nav-link {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.4s;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #262933;
  color: #fff;
  transition: all 0.4s;
  /*height: 100vh;*/
}

#sidebar a {
  text-decoration: None;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1b1d24;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #262933;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #1b1d24;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #1b1d24;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.background-img {
  position: fixed;
  z-index: -4;
  top: 30%;
  left: 37%;
  width: 360px;
  height: 360px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 100s linear infinite;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

